# Copy this file to config.sh and customise
DISKSPACE_RECIPIENT=email@yourdomain.com
DISKSPACE_THRESHOLD=90
DISKSPACE_DEVICE_EXCEPTION="" # This could be a partition you don't want to watch eg: /dev/sda4|/dev/sda5